<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body style="margin: 4em">
    <% if current_user %>
      <li><%= current_user.email %></li>
      <li><%= link_to '登出', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to '註冊', new_user_registration_path %></li>
      <li><%= link_to '登入', new_user_session_path %></li>
    <% end %>
    <%= link_to "All Buckets", buckets_path%>
    <%= link_to "All Tasks", tasks_path%>
    <%= yield %>
  </body>
</html>
